Package: nanosvg
Version: 2023-12-29
Depends: vcpkg-cmake, vcpkg-cmake-config
Architecture: x64-windows
Multi-Arch: same
Abi: f5b7639bbc5e7ade345c22599caddd7e36aeb80bdca2fe784d2bc6b44cb758ae
Description: NanoSVG is a simple stupid single-header-file SVG parser. It is accompanied by a simple SVG rasterizer.
